//imports
@import 'variables';
@import 'mixins';

//helper classes
.font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	padding-top: 70px;
	font-family: $font-stack;
	font-size: $font-base;
	color: $primary-color;
}

.navbar {
	background-color: white;
	border: 0;
}

section {
	&.hello,&.enjoys,&.work {
		max-width: 450px;
		margin: 0 auto;
		padding: 45px 0;
	}
}

hr {
	border: dashed 2px #DDD;
	width: 50px;
}
#major {
	h3 {
		font-size: $font-major;
		text-transform: uppercase;
		font-weight: bold;
		
		&.small {
			font-size: 60px;
		}
	}
	h4.small {
		font-size: $font-major-sub;
		text-transform: uppercase;
		font-weight: bold;
		color: $gold;
		@include transition(color .3s ease); 
		
		&:hover {
			color: darken( $gold, 10% );
		}
	}
}
.container-head {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	
	.head-ill {
		max-height: 100%;
	}
}

.headline {
	h4 {
		font-size: $font-minor;
	}
	p.blurb {
		font-size: $font-minor-sub;
		font-weight: 300;
		
		.label {
			padding: 8px ;
			margin-right: 5px;
			line-height: 40px;
			
			&.label-gold {
				background-color: lighten( $gold, 10% );
				
			}
		}
	}
}