//importing style variables
@import 'variables';

body {
	padding-top: 70px;
	font-family: $font-stack;
	font-size: $font-base;
	color: $primary-color;
}

.navbar {
	background-color: white;
	border: 0;
}

#major {
	h3 {
		font-size: $font-major;
		text-transform: uppercase;
		font-weight: bold;
	}
	h4.small {
		font-size: $font-major-sub;
		text-transform: uppercase;
		font-weight: bold;
		color: $gold;
	}
}
.container-head {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	
	.head-ill {
		max-height: 100%;
	}
}