//imports
@import 'variables';
@import 'mixins';

//helper classes
.font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}
body {
	padding-top: 70px;
	font-family: $font-stack;
	color: $primary-color;
}

a {
	text-decoration: none;
	color: inherit;
	@include transition(color .3s ease); 
	
	&:hover {
		color: darken( $gold, 10% );
	}
}

.navbar {
	background-color: white;
	border: 0;
}

section {
	&.hello,&.enjoys,&.work {
		max-width: 500px;
		margin: 0 auto;
		padding: 45px 0;
	}
}

hr {
	border: dashed 2px #DDD;
	width: 50px;
}
#major {
	h3 {
		font-size: $font-major;
		text-transform: uppercase;
		font-weight: bold;
		
		&.small {
			font-size: 60px;
		}
	}
	h4.small {
		font-size: $font-major-sub;
		text-transform: uppercase;
		font-weight: bold;
		color: $gold;
		@include transition(color .3s ease); 
		
		&:hover {
			color: darken( $gold, 10% );
		}
	}
}
.container-head {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	
	.head-ill {
		max-height: 100%;
	}
}

.headline {
	h4 {
		font-size: $font-minor;
		padding: 20px 0;

	}
	.blurb {
		font-size: $font-minor-sub;
		font-weight: 300;
		color: $grey;
		margin-bottom: 50px;
		
		.blurb-title {
			font-weight: bold;
			font-size: 22px;
		}
		.label {
			padding: 8px ;
			margin-right: 5px;
			line-height: 40px;
			
			&.label-gold {
				background-color: lighten( $gold, 10% );
				
			}
		}
	}
}

footer {
	background: lighten( $gold, 10% );
	padding: 3em 0;
	text-align: center;
	color: white;
	
	.social-list{
		overflow: hidden;
		margin: 0 auto;
		max-width: 600px;
		padding: 0;
		font-size: $font-minor-sub;
		
		li {
			width: 50%;
			padding-top: 1em;
			padding-bottom: 1em;
			display: block;
			float: left;
			
			
		}
	}
	
	p {
		font-size: 1em;
		font-weight: 400;
		margin: 0;
		padding: 2.5em 0 0;
	}
}